.Banner {
  width: inherit;
  height: 111px;
  margin-bottom: 22px;
  position: relative;
}

.Banner__Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(70%);
}

.Banner__Text {
  position: absolute;
  color: white;
  font-size: 24px;
  z-index: 1;
  height: 100%;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .Banner__Img {
    border-radius: 25px;
  }

  .Banner__Text {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}