.Home__CardsContainer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  
}

@media only screen and (min-width: 768px) {
  .Home__CardsContainer {
    background-color: #F7F7F7;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
}

