.Home__CardsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .Home__CardsContainer {
    background-color: #F7F7F7;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}